body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.container-fluid {
  padding: 7% 15%;
}

h1,
h2,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Monterserrat', sans-serif;
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

/* Heading */
.big-heading {
  font-family: 'Monterserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navbar styling */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-light', sans-serif;
}

.download-button {
  margin: 5% 3% 5% 0%;
}

/* Title */

/* This is a nifty css where you specify the id first and then the container within that id */
#title .container-fluid {
  text-align: left;
  padding: 3% 15% 7%;
}

#iphone-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

@media (max-width: 900px) {
  #title {
    text-align: center;
  }

  #iphone-img {
    width: 60%;
    position: static;
    transform: rotate(0);
  }
}

/* Features */

#features {
  position: relative;
}

.feature-title {
  font-weight: 700;
  font-size: 1.4rem;
}

.feature-box {
  padding: 4.5%;
}

.feature-imgs {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-imgs:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-img {
  margin: 20px 20px 50px;
  width: 15%;
}

.testimonial-img {
  border-radius: 50%;
  margin: 20px;
  width: 10%;
}

/* Pricing */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action */

/* Contact/Copyright */

#footer {
  font-size: 1rem;
}

.social-icon {
  color: #000;
  margin: 20px 10px;
}

.links {
  margin-bottom: 1.5rem;
}
